<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | {{ subtitle }}</title>
  <link
      href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Heebo:800|Rubik+Mono+One|Ubuntu"
      rel="stylesheet"/>
  {{ styles|raw }}
</head>
<body>
<article>
  <header>
    <h1 class="title">{{ title|raw }}</h1>
  </header>
  {{ content|raw }}
</article>
</body>
</html>
