<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | {{ subtitle }}</title>
  <link
      href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Heebo:800|Rubik+Mono+One|Ubuntu"
      rel="stylesheet"/>
  {{ styles|raw }}
</head>
<body>
<article>
  <header>
    <h1 class="title">{{ title|raw }}</h1>
    <h2 class="subtitle">{{ subtitle|raw }}</h2>
    <aside class="description">{{ description|raw }}</aside>
  </header>
  {{ content|raw }}
  {% include('notes.twig') %}
  {% include('legend.twig') %}
  {% if footer %}
    <footer>{{ footer|raw }}</footer>{% endif %}
  <div class="credit">Generated using
    <a target="_blank" href="http://www.intheloftstudios.com/packages/development/visual_sitemap">Visual Sitemap</a> by
    <a target="_blank" href="http://www.intheloftstudios.com/">In the Loft Studios</a>
  </div>
</article>
</body>
</html>
