<aside class="legend">
  <h3 class="legend__caption">Legend</h3>
  <div class="legend__types">
    {% for type in types %}
      <div class="legend__item type--{{ type|replace({' ': '-'}) }}">
      <span
          class="section__flag"><span>{{ type|slice(0,1)|upper }}</span></span>
        <span>{{ type|title }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="legend__icons">
    {% for name, icon in icon_types %}
      <div class="section__icon section__{{ name }}">{{ icon.svg|raw }}
        <span>{{ icon.title|title }}</span></div>
    {% endfor %}
  </div>
</aside>
