<div class="section section--level{{ level }} type--{{ type }}{{ states }}">
  <span class="section__number">{{ section }}</span>
  <div>
    <span class="section__title"><span>{% if more %}
        <a target="_blank" href="{{ more }}">{% endif %}{{ title }}{% if more %}</a>{% endif %}</span>
      {% for icon_name, icon in icons %}
        <span class="section__icon section__{{ icon_name }}">{{ icon|raw
      }}</span>{% endfor %}
      {% if flag %}
        <span class="section__flag"><span>{{ flag }}</span>
        </span>{% endif %}</span>
    <span class="section__path">{{ path|replace({
        'http://www.': '',
        'https://www.': '',
        'http://': '',
        'https://': '',
      }) }}</span>
  </div>
</div>
